<p>Cardholder Name:</p>
<div class="card-container">
    <input type="text" [(ngModel)]="customerName">
</div>

<p>Your Email:</p>
<div class="card-container">
    <input type="text" [(ngModel)]="customerEmail">
</div>

<p>Card Details:</p>
<div class="card-container">
    <div id="card-element">
        <!-- A Stripe Element will be inserted here. -->
    </div>
</div>

<!-- Used to display Element errors. -->
<div id="card-errors" role="alert"></div>

<button (click)="startSubscription()">Subscribe to SUVOBI</button>
<button (click)="purchaseItem()">Purchase report with customer id</button>

<p *ngIf="subscriptionCompleted">Subscription Successfully created! <a [href]="invoiceLink" target="_blank">View invoice</a></p>
<p *ngIf="paymentIntentCompleted">Report purchased!</p>